@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: rgb(255 255 255);
  --color-base-200: rgb(248 248 248);
  --color-base-300: rgb(238 238 238);
  --color-base-content: rgb(25 25 25);
  --color-primary: rgb(25 25 35);
  --color-primary-content: rgb(250 250 250);
  --color-secondary: rgb(248 248 248);
  --color-secondary-content: rgb(25 25 25);
  --color-accent: rgb(100 150 255);
  --color-accent-content: rgb(25 25 25);
  --color-neutral: rgb(15 15 15);
  --color-neutral-content: rgb(230 230 230);
  --color-info: rgb(0 186 254);
  --color-info-content: rgb(4 46 73);
  --color-success: rgb(0 211 144);
  --color-success-content: rgb(0 76 57);
  --color-warning: rgb(252 183 0);
  --color-warning-content: rgb(121 50 5);
  --color-error: rgb(255 98 125);
  --color-error-content: rgb(77 2 24);
  --radius-selector: 0.5rem;
  --radius-field: 0.75rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: 'dark';
  default: false;
  prefersdark: false;
  color-scheme: 'dark';
  --color-base-100: rgb(35 35 50);
  --color-base-200: rgb(25 25 35);
  --color-base-300: rgb(15 15 25);
  --color-base-content: rgb(250 250 250);
  --color-primary: rgb(250 250 250);
  --color-primary-content: rgb(25 25 25);
  --color-secondary: rgb(15 15 15);
  --color-secondary-content: rgb(250 250 250);
  --color-accent: rgb(100 150 255);
  --color-accent-content: rgb(25 25 25);
  --color-neutral: rgb(15 15 15);
  --color-neutral-content: rgb(230 230 230);
  --color-info: rgb(0 186 254);
  --color-info-content: rgb(4 46 73);
  --color-success: rgb(0 211 144);
  --color-success-content: rgb(0 76 57);
  --color-warning: rgb(252 183 0);
  --color-warning-content: rgb(121 50 5);
  --color-error: rgb(255 98 125);
  --color-error-content: rgb(77 2 24);
  --radius-selector: 0.5rem;
  --radius-field: 0.75rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}