# À chaque pull request ce workflow se déclanche sur la branche main pour chercher des secrets exposés (clés API, mots de passe, tokens...)

name: gitleaks
on: 
  pull_request:
    branches: 
      - main

# Le job `scan` s'éxécute sur Ubuntu.

jobs:
  scan:
    name: gitleaks
    runs-on: ubuntu-latest

    # Récupère tout l'historique du dépôt pas seulement le dernier car Gitleaks peut vérifier l'historique complet des secrets exposés.
    
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

          # Gitleaks scanne le dépôt pour détecter des secrets accidentellement commités.
          
      - uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # nécessaire pour interagir avec le dépôt (PR, commentaires...)
          GITLEAKS_LICENSE: ${{ secrets.GITLEAKS_LICENSE}} # clé pour activer Gitleaks si une licence est requise.
